*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
html, body{
    width: 100%;
    height: 100%;

}

body{
    margin: 0px;
    background-color: black;
    padding: 0px;
    /* height: 50%; */
    

   
}
.navbar{
    display: flex;
}
.navbar li{
    margin: 10px 30px;
    float: left;
    padding: 10px;
    font-size: 18px;
    
}
.navbar li a{    
    text-decoration: none;
    color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  
}
.material-symbols-outlined{
   color: white;
    
}
#box{
    width: 100px;
    margin-left: 500px;
    /* padding: 25px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

 

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}




#rowse{
    color: white;
    margin-left:100px;
    font-size: 25px;
}
 .Container{
    width: 90%;
    position: absolute;
    height: 400px;
    /* border: 1px solid white; */
    margin-top: 45px;  
    margin-left: 40px;
    color: white;
} 
h1{
    font-size: 130px;
    margin-top: 10px;
    margin-bottom: 0px ;
    padding: 2px;
    
}
#Container1{
    
    margin-left: 900px;
}
#Container3{
    border: 2px solid white;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    float: right;
    
}
#h1{
    font-size:  150px;
    margin-left: 350px;
    padding: 2px;
  
}
.container1{
    color: white;
    position: absolute;
     margin-top: 430px;
     height: 150px;
     width: 400px;
     padding: 5px;
     margin-left: 50px;
     /* border: 2px solid white; */
}
p{
    font-size: 18px;
}
h3{
    font-size: 20px;
}
.box1{
    height: 300px;
    width: 200px;
    /* border: 2px solid white; */
    margin-top: 200px;
    margin-left:1100px;
    border-radius: 10px;

    /* transform: rotate(15deg); */
    
}
.box1 img{
    height: 100%;
    width: 200px;
    border-radius: 10px;
    transform: rotate(13deg);
}
.box2{
    height: 200px;
    width: 90px;
 /* border: 2px solid white; */
    position: absolute;
    top: 100px;
    left: 950px;
    /* border-radius: 25px ; */
     transform: rotate(55deg); 

}
.box2 img{
    height: 100%;
    width: 270px;
}